html {
    display: flex;
    flex-direction: column;
    height: 100%;
}

body {
    font-family: Roboto, sans-serif;
    flex: 1;
    display: flex;
    flex-direction: column;
    height: 100%;
    .application {
        flex: 1;
    }
}

.component-fade-enter-active, .component-fade-leave-active {
    transition: opacity .3s ease;
}

.component-fade-enter, .component-fade-leave-to
    /* .component-fade-leave-active до версии 2.1.8 */
{
    opacity: 0;
}
